
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form method="post" action="Create">
    <h2>Customer satisfactory feedback</h2>
    <div class="row form-group">
        <h3>Product information</h3>
        <div class="row form-group">

            <label for="Category">Category</label>
            <select name="" class="form-select" aria-label="Default select example" id="Category">
                <option selected></option>
            </select>
            <span class="text-danger" id="CategoryCheck"></span>

            <label for="Product">Product</label>
            <select name="" id="">
                <option value=""></option>
            </select>
        </div>

        <div class="row form-group">
            <div>
                <p>
                    overall, how satisfied were you with the product/
                    service
                </p>
                <input type="radio" id="Satisfactory"/>
            </div>
        </div>

        <div class="row form-group">
            <div>
                <p>which of the following category have you purchased in the last two month</p>
                <input type="checkbox">
            </div>
        </div>

        <div class="row form-group">
            <p>what do you like about the service/product?</p>
            <textarea name="" id="" cols="30" rows="5"></textarea>
        </div>

        <div class="row form-group">
            <h2>User information</h2>
        </div>

        <div class="row form-group">
            <label for="Name">Name</label>
            <select name="" id="">
                <option value="">Title</option>
            </select>

            <input type="text" placeholder="First name" id="firstName" autocomplete="off">
            <span class="text-danger" id="firstNameCheck">First Name is required!</span>

            <input type="text" placeholder="Initial">
        </div>

        <div class="row form-group">
            <input type="text" placeholder="street address">
        </div>

        <div class="row form-group">
            <input type="text" placeholder="street address line 2">
        </div>

        <div class="row form-group">
            <input type="text" placeholder="City*">
            <input type="text" placeholder="Region*">
        </div>

        <div class="row form-group">
            <input type="number" placeholder="Zipcode/Postal*">
            <select name="" id="">
                <option value="">Country</option>
            </select>
        </div>

        <div class="row form-group">
            <h3>More about unsatisfactory</h3>
            <p>Reason for unsatisfaction</p>
            <textarea name="" id="" cols="30" rows="5"></textarea>
            <input type="file">
        </div>
    </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


@*<script src="~/Scripts/Feedback.js"></script>*@

<script type="text/javascript">
    $(document).ready(function () {

        $.ajax({
            type: "GET",
            url: "/Feedback/GetSatisfactory",
            success: function (data) {
                var option;
                $.each(data, function (i, name) {
                    option += "<input  value =" + name.SatisfactoryId + "/>" + name.SatisfactoryStatus ;
                });
                console.log(option);
                $("#Satisfactory").append(option);
            }
        });


        $.ajax({
            type: "GET",
            url: "/Feedback/GetCategory",
            success: function (data) {
                var option;
                $.each(data, function (i, category) {
                    option += "<option value=" + category.CategoryId + ">" + category.CategoryName + "</option>";
                });
                console.log(option);
                $("#CategoryCheck").append(option);
            }
        });

        //validate first name
        $("#firstNameCheck").hide();
        let firstNameError = true;
        $("#firstName").keyup(function () {
            validateName()
        });

        function validateName() {
            let firstName = document.getElementById('firstName');

            if (firstName.value == "") {
                $("#firstNameCheck").show();
                firstNameError = false;
            }
            else if ((firstName.value.length < 3) || (firstName.value.length > 50)) {
                $("#firstNameCheck").show();
                $("#firstNameCheck").html("length of the name should be between 3 and 50");
                firstNameError = false;

            }
            else {
                $("#firstNameCheck").hide();
                firstNameError = true;
            }
        }

    });

</script>