
@{
    ViewBag.Title = "Create";
}

<link href="~/Content/style.css" rel="stylesheet" />

<form method="post" action="Create">
    <h2 id="Heading">Customer satisfactory feedback</h2>

    <h6>Product information</h6>

    <div class="form-group">
        <div class="row">

            <div class="col-2">
                <label for="">Category</label>
            </div>
            <div class="col-4">
                <select name="" class="form-select " id="Category">
                    <option value="">select</option>
                </select>
                <span class="text-danger" id="CategoryCheck">Category required!</span>
            </div>


            <div class="col-2">
                <label>Product</label>
            </div>
            <div class="col-4">
                <select name="" id="Product" class="form-select">
                    <option value="">select</option>
                </select>
                <span class="text-danger" id="ProductCheck">Product required!</span>
            </div>

        </div>
    </div>

    <div class="form-group Satisfactory">
        <div class="row">
            <div class="col-4">
                <p>
                    overall, how satisfied were you with the product/
                    service
                </p>
            </div>
            <div class="col-8" id="Satisfactory">
                <input type="radio" value="1" name="satisfaction" />Very Satisfied
                <input type="radio" value="2" name="satisfaction" />Satisfied
                <input type="radio" value="3" name="satisfaction" />Neutral
                <input type="radio" value="4" name="satisfaction" />Un satisfied
                <input type="radio" value="5" name="satisfaction" />Very un satisfied
                <input type="radio" value="6" name="satisfaction" />N/A

                <span class="text-danger" id="SatisfactoryCheck">select a option!</span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-4">
                <p>which of the following category have you purchased in the last two month</p>
            </div>
            <div class="col-8" id="PurchasedProductInLastTwoMonth">
                <input type="checkbox" value="1">Air conditioner
                <input type="checkbox" value="2" />Television
                <input type="checkbox" value="3" />Mobile

                <span class="text-danger" id="PurchasedProductInLastTwoMonthCheck">select a option!</span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-4">
                <p>what do you like about the service/product?</p>

            </div>
            <div class="col-8">
                <textarea class="form-control" name="" id="Comment" cols="30" rows="5" autocomplete="off"></textarea>
                <span class="text-danger" id="CommentCheck">Comment is required!</span>
            </div>

        </div>

    </div>

    <div class="form-group">
        <h6>User information</h6>
    </div>

    <div class="form-group inputField">
        <div class="row">

            <label for="Name">Name</label>

            <div class="col">
                <select class="form-select" name="" id="Title">
                    <option value="">select</option>
                </select>
                <span class="text-danger" id="TitleCheck">Select a title!</span>
            </div>

            <div class="col">
                <input class="form-control" type="text" placeholder="First name" id="FirstName" autocomplete="off">
                <span class="text-danger" id="FirstNameCheck">First Name is required!</span>
            </div>

            <div class="col">
                <input class="form-control" type="text" id="Initial" placeholder="Initial" autocomplete="off">
                <span class="text-danger" id="InitialCheck">Initial is required!</span>
            </div>

        </div>
    </div>

    <div class="form-group inputField">
        <input class="form-control" type="text" id="Email" placeholder="Email*" autocomplete="off">
        <span class="text-danger" id="EmailCheck">Email-Id is required!</span>
    </div>

    <div class="form-group inputField">
        <input class="form-control" type="text" id="StreetAddress" autocomplete="off" placeholder="street address">
        <span class="text-danger" id="StreetAddressCheck">Street address is required!</span>
    </div>

    <div class="form-group inputField">
        <input class="form-control" type="text" id="StreetAddressLine2" autocomplete="off" placeholder="street address line 2">
    </div>

    <div class="form-group inputField">

        <div class="row">
            <div class="col-6">
                <input class="form-control " type="text" id="City" autocomplete="off" placeholder="City*">
                <span class="text-danger" id="CityCheck">City is required!</span>
            </div>

            <div class="col-6">
                <input class="form-control " type="text" id="Region" autocomplete="off" placeholder="Region*">
                <span class="text-danger" id="RegionCheck">Region is required!</span>
            </div>

        </div>





    </div>

    <div class="form-group inputField">

        <div class="row">
            <div class="col-6">
                <input type="number" class="form-control " autocomplete="off" min="1" max="999999" id="Zipcode" placeholder="Zipcode/Postal*">
                <span class="text-danger" id="ZipcodeCheck">zipcode is required!</span>
            </div>

            <div class="col-6">
                <select class="form-select " name="" id="Country">
                    <option value="">Country</option>
                </select>
                <span class="text-danger" id="CountryCheck">select a country!</span>
            </div>
        </div>




    </div>

    <div class="form-group inputField">
        <h6>More about unsatisfactory</h6>

        <div class="row">
            <div class="col-3">
                <p>Reason for unsatisfaction</p>

            </div>
            <div class="col-9">
                <textarea class="form-control" name="" autocomplete="off" id="Reason" cols="30" rows="5"></textarea>
                <span class="text-danger" id="ReasonCheck">Reason is required!</span>
            </div>
        </div>

    </div>

    <div class="form-group inputField">
        <div class="row">
            <div class="col">
               <input type="file" placeholder="choose file" id="file" />
                <span class="text-danger" id="FileCheck">Choose a file!</span>
            </div>
        </div>
    </div>

    <button type="reset" class="btn btn-danger" id="btnReset">Reset</button>

    <button type="button" class="btn btn-primary" id="btnSubmit">Submit</button>
</form>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="~/Scripts/Feedback.js"></script>

